@tailwind base;
@tailwind components;
@tailwind utilities;


 /* Custom styles for the masonry layout */
 .masonry {
  column-count: 6;
  column-gap: 1rem;
  padding: 10px;
}

.masonry-item {
  break-inside: avoid;
  margin-bottom: 1rem;
}

@media only screen and (max-width: 1030px){
  .masonry{
      column-count: 4;
  }
}

@media only screen and (max-width: 900px){
  .masonry{
      column-count: 3;
  }
}

@media only screen and (max-width: 600px){
  .masonry{
      column-count: 2;
  }
} 

/* .masonry { 
  display: flex;
  flex-flow: row wrap;
  margin-left: -8px; /* Adjustment for the gutter
  width: 100%;
}*/

/* .masonry-item {
  flex: auto;
  height: 250px;
  min-width: 150px;
  margin: 0 8px 8px 0;
}  */

/* IN APP STYLES... */

.divider{
  @apply p-3 flex flex-row items-center mt-8
}
.divider-item{
  @apply flex flex-row items-center gap-3 text-xl font-bold
}

/*
.form-input{
  @apply w-full bg-slate-100 rounded-md p-3 outline-app_green hover:bg-app_light_green
} */
.form-input{
  @apply w-full  rounded-md p-3 shadow-md shadow-[#E0F6EA] hover:bg-app_light_green outline-none border
}

.divider-tab{
  @apply font-bold p-3 border rounded-lg mt-6 capitalize text-green-700
}

button:disabled{
  @apply bg-gray-300 cursor-not-allowed
}

button{
  @apply hover:bg-opacity-90
}

.btn{
  @apply rounded-md px-6 py-2
}

.app_spinner {
  width: 14px;
  height: 14px;
  border: 3px solid gray;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 0.9s linear infinite;
  }

  @keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
  } 